{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome on Meetup Sample App</h1>

    {% if partners %}
        <table class="table">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                <tr>
                    <td>
                        {{ partner.name }}
                    </td>
                    <td>
                        {% if level.partner is defined %}
                        {{ partner.level.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ partner.address | nl2br }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        No partner
    {% endif %}

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
