{% extends 'base.html.twig' %}

{% block title %}Partner Delete{% endblock %}

{% block body %}

    <p>
        Are you sure you want to delete partner "{{ partner.name }}" ?
    </p>

    <form action="{{ path('partner_delete', {'id': partner.id}) }}" method="post">
        <a href="{{ path('partner_view', {'id': partner.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to partner
        </a>
        <input type="submit" value="Delete" class="btn btn-danger" />
        {# CSRF below... #}
        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
