{% extends 'base.html.twig' %}

{% block title %}Partner Edit{% endblock %}

{% block body %}

    <div class="well">

    {{ form(form) }}

    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
